<!--index.html-->
<html>
    <head>

        <title>Home</title>
        <link rel="stylesheet" type="text/css" href="./css/stylesheet.css">
        <link rel="stylesheet" type="text/css" media=" screen" href="css.css"/>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Roboto|Russo+One" rel="stylesheet"></head>
    <body>
        <main>
            <header>
                <img src="./media/MEA_logo3.png">
                <ul class="menu cf">
                    <li>
                        <a href="/index">home</a>
                        <ul class="submenu"></ul>
                    </li>

                    <li>
                        <a href="">Ethics</a>
                        <ul class="submenu">
                            <li>
                                <a href="/advocates">Advocates</a>
                            </li>
                            <li>
                                <a href="/naysayers">Naysayers</a>
                            </li>
                            <li>
                                <a href="/centrists">Centrists</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="/five_dangers">Dangers</a>
                        <ul class="submenu">
                            <li>
                                <a href="/dust">1.Dust</a>
                            </li>
                            <li>
                                <a href="/freezing">2.Freezing Temperatures</a>
                            </li>
                            <li>
                                <a href="/atmosphere">3.Atmosphere</a>
                            </li>
                            <li>
                                <a href="/pressure">4.Pressure</a>
                            </li>
                            <li>
                                <a href="/radiation">5.Radiation</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="/registration">Registration</a>
                        <ul class="submenu"></ul>
                    </li>

                    <li>
                        <a href="/displayForums">forums</a>
                        <ul class="submenu"></ul>
                    </li>

                    <li>
                        <a href="">about us</a>
                        <ul class="submenu">
                            <li>
                                <a href="/aboutDevyn">Devyn Hedin</a>
                            </li>
                            <li>
                                <a href="/aboutCarlos">Carlos Paz</a>
                            </li>
                            <li>
                                <a href="/aboutRandy">Randy Rodriguez</a>
                            </li>
                            <li>
                                <a href="/aboutKyle">Kyle Houlihan</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </header>
            <form action='/login' method="post">
                <li id="login_elem"><input type="text" name="username" placeholder="Username" size="10"></li>
                <li id="login_elem"><input type="text" name="password" placeholder="Password" size="10"></li>
                <li id="login_elem"><input type="submit" value="Submit" size="10"></li>
            </form>
            <canvas id="canvas"></canvas>
            <script src="./javascripts/app.js"></script>

            <div class="design">
                <ul>

                    <li>A</li>
                    <li>D</li>
                    <li>V</li>
                    <li>O</li>
                    <li>C</li>
                    <li>A</li>
                    <li>T</li>
                    <li>E</li>
                    <li>S</li>

                </ul>

            </div>
            <div id="martian_landscape">

                <center>
                    <img src="./media/pro_2.png" alt="Surface">
                </center>

                <style>
                    #canvas {
                        background-color: #fefefe;

                        -webkit-box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
                        -moz-box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
                        box-shadow: 4px 4px 8px rgba(0,0,0,0.5);

                    }
                </style>

                <a><a/>
                    <p>
                        <font color="white">The arguments for terraforming Mars include man’s penchant for adventure and challenge, the need for a “back-up” planet because our warming climate and growing population may make that necessary, the need to expand our resource base – minerals and perhaps pharmaceuticals – and the morality of bringing life to what may not be a completely dead planet.</font>
                    </p>

                    <p>
                        <font color="white">Many of the advocates for terraforming might be considered anthropocentric – believing that the superiority of man’s ability to reason and act ethically and the fact that all other entities lack rational ability and are amoral makes him the only one with rights and that any other being has rights only if man has given them. Anthropocentrics believe that terraforming Mars is perfectly fine as long as what we get from it benefits humanity.</font>
                    </p>

                    <p>
                        <font color="white">David Grinspoon, senior scientist at the Planetary Science Institute, posits that if Mars is dead and contains no life-forms, it would be our moral imperative to “plant a garden” and bring life to Mars. Grinspoon also advocates exploring Mars not only because “it is there” but also because it will add to our knowledge about how planets work.</font>
                    </p>

                    <p>
                        <font color="white">Neel Patel, science and tech journalist, and Elon Musk, founder, CEO, and lead designer of SpaceX, also believe that terraforming Mars is an ethical imperative, but for slightly different reasons: because human life is transcendent and the environment of Earth is, to say the least, “challenged,’ it is our responsibility, they believe, to create an alternative Earth on Mars so that the human race will survive in any case.</font>
                    </p>

                    <p>
                        <font color="white">Others, like Robert Zubrin, aerospace engineer and author of The Case for Mars, believe that even if we were to clean up our environment, we should still terraform Mars and perhaps other planets because, nature being nature, Earth will not last forever. Dr. Zubrin also insists that since microbes on Mars haven’t developed past the microbe stage, their presence should not stop humans from terraforming. Zubrin sums up his view of terraforming by stating:
                        </p>

                        <p>
                            <font color="white">“Some people consider the idea of terraforming Mars heretical—humanity playing God. Yet others would see in such an accomplishment the most profound vindication of the divine nature of the human spirit, exercised in its highest form to bring a dead world to life.”</font>
                        </p>

                        <br/>

                    </div>
                    <article>
                        <section id="welcome"></section>
                    </article>
                    <article></article>
                    <footer>&copy; 2018 Mars Exploration Agency, LLC</footer>
                </main>

            </body>
        </html>