<!--index.html-->
<html>
    <head>

        <title>Home</title>

        <link rel="stylesheet" type="text/css" href="./css/Stylesheet_Atmosphere.css">
        <link rel="stylesheet" type="text/css" media=" screen" href="css.css"/>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Roboto|Russo+One" rel="stylesheet"></head>
    <body>
        <main>
            <header>
                <img src="./media/MEA_logo3.png">
                <ul class="menu cf">
                    <li>
                        <a href="/index">home</a>
                        <ul class="submenu"></ul>
                    </li>

                    <li>
                        <a href="">Ethics</a>
                        <ul class="submenu">
                            <li>
                                <a href="/advocates">Advocates</a>
                            </li>
                            <li>
                                <a href="/naysayers">Naysayers</a>
                            </li>
                            <li>
                                <a href="/centrists">Centrists</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="/five_dangers">Dangers</a>
                        <ul class="submenu">
                            <li>
                                <a href="/dust">1.Dust</a>
                            </li>
                            <li>
                                <a href="/freezing">2.Freezing Temperatures</a>
                            </li>
                            <li>
                                <a href="/atmosphere">3.Atmosphere</a>
                            </li>
                            <li>
                                <a href="/pressure">4.Pressure</a>
                            </li>
                            <li>
                                <a href="/radiation">5.Radiation</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="/registration">Registration</a>
                        <ul class="submenu"></ul>
                    </li>

                    <li>
                        <a href="/displayForums">forums</a>
                        <ul class="submenu"></ul>
                    </li>

                    <li>
                        <a href="">about us</a>
                        <ul class="submenu">
                            <li>
                                <a href="/aboutDevyn">Devyn Hedin</a>
                            </li>
                            <li>
                                <a href="/aboutCarlos">Carlos Paz</a>
                            </li>
                            <li>
                                <a href="/aboutRandy">Randy Rodriguez</a>
                            </li>
                            <li>
                                <a href="/aboutKyle">Kyle Houlihan</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </header>
            <form action='/login' method="post">
                <li id="login_elem"><input type="text" name="username" placeholder="Username" size="10"></li>
                <li id="login_elem"><input type="text" name="password" placeholder="Password" size="10"></li>
                <li id="login_elem"><input type="submit" value="Submit" size="10"></li>
            </form>
            <canvas id="canvas"></canvas>
            <script src="./javascript/app.js"></script>

            <div class="design">
                <ul>

                    <li>A</li>
                    <li>T</li>
                    <li>M</li>
                    <li>O</li>
                    <li>S</li>
                    <li>P</li>
                    <li>H</li>
                    <li>E</li>
                    <li>R</li>
                    <li>E</li>

                </ul>

            </div>
            <div id="martian_landscape">

                <center>
                    <img src="./media/a_pressure.jpg" alt="Surface">
                </center>

                <style>
                    #canvas {
                        background-color: #fefefe;

                        -webkit-box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
                        -moz-box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
                        box-shadow: 4px 4px 8px rgba(0,0,0,0.5);

                    }
                </style>

                <a></a>

                <p>
                    <font color="#000066">At the present time, the atmosphere on Mars is very different than we have on Earth. It is very thin – about 1% of the atmosphere on Earth.It consists mostly of carbon dioxide – 95% - with 3% nitrogen, 1.6% argon and trace amounts of oxygen – the very element we need the most to survive, making the air unbreathable for humans.</font>
                </p>

                <p>
                    <font color="#000066">Many millions and perhaps even billions of years ago, the atmosphere on Mars is believed to have been much thicker and water is believed to have flowed on its surface. This, scientists believe created areas where oceans – perhaps covering as much as 1/3rd of Mars’ surface – and river plains existed. In addition, the Mars Rover has found traces of methane in the atmosphere – a gas that is usually produced by organic material here on Earth but can be produced by other means.</font>
                </p>

                <p>
                    <font color="#000066">Sometime, eons ago, however, the atmosphere of Mars thinned-out but scientists don’t know how or why. Because the atmosphere is very thin it doesn’t protect potential explorers from the sun’s radiation. In addition, it doesn’t keep much of the heat it accumulates during the day on the surface at night resulting in wide temperature variations. This (among other factors) makes growing food – even in a protected greenhouse – problematic.</font>
                </p>

                <p>
                    <font color="#000066">Today, despite the thinness, Mars’ atmosphere consists of four layers called the Lower, Middle, Upper Atmospheres and the Exosphere. The Lower Atmosphere is the warmest because it is closest to the ground which is heated by the sun. The Middle atmosphere is a jet stream, the Upper Atmosphere is also very warm because it is heated by the sun. The Exosphere is above the Upper Atmosphere and signifies the dividing line between Mars’ atmosphere and what is called space. Although thin, the atmosphere of Mars still is thick enough to contain weather, winds, and clouds.</font>
                </p>

                <p>
                    <font color="#000066">One challenge in terraforming Mars is to increase the oxygen available for humans to breathe. Interestingly, a Mars Rover is scheduled to visit Mars sometime in 2020. Its mission, among others, is to use an instrument called MOXIE - Mars Oxygen ISRU Experiment - to collect some of the predominant gas on Mars – CO2 – and split it into two elements – carbon and oxygen – to see if it can create more oxygen for humans to use when they visit the planet in the future.</font>
                </p>

                <center>
                    <img src="./media/moxie_1_Large.jpg" alt="Surface" style="width:520px; height:680px;" border="15px">
                </center>

                <center>
                    <p>
                        <font style="color: blue; font-size: 30px;">"Pic of Moxie"</font>
                    </p>
                </center>

                <br/>

            </div>
            <article>
                <section id="welcome"></section>
            </article>
            <article></article>
            <footer>&copy; 2018 Mars Exploration Agency, LLC</footer>
        </main>

    </body>
    <script type="text/javascript" src="app_atmosphere.js"></script>
</html>