<!--index.html-->
<html>
    <head>

        <title>Dust</title>
        <link rel="stylesheet" type="text/css" href="./css/Stylesheet_Dust.css">
        <link rel="stylesheet" type="text/css" media=" screen" href="css.css"/>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Roboto|Russo+One" rel="stylesheet"></head>
    <body>
        <main>
            <header>
                <img src="./media/MEA_logo3.png">
                <ul class="menu cf">
                    <li>
                        <a href="/index">home</a>
                        <ul class="submenu"></ul>
                    </li>

                    <li>
                        <a href="">Ethics</a>
                        <ul class="submenu">
                            <li>
                                <a href="/advocates">Advocates</a>
                            </li>
                            <li>
                                <a href="/naysayers">Naysayers</a>
                            </li>
                            <li>
                                <a href="/centrists">Centrists</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="/five_dangers">Dangers</a>
                        <ul class="submenu">
                            <li>
                                <a href="/dust">1.Dust</a>
                            </li>
                            <li>
                                <a href="/freezing">2.Freezing Temperatures</a>
                            </li>
                            <li>
                                <a href="/atmosphere">3.Atmosphere</a>
                            </li>
                            <li>
                                <a href="/pressure">4.Pressure</a>
                            </li>
                            <li>
                                <a href="/radiation">5.Radiation</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="/registration">Registration</a>
                        <ul class="submenu"></ul>
                    </li>

                    <li>
                        <a href="/displayForums">forums</a>
                        <ul class="submenu"></ul>
                    </li>

                    <li>
                        <a href="">about us</a>
                        <ul class="submenu">
                            <li>
                                <a href="/aboutDevyn">Devyn Hedin</a>
                            </li>
                            <li>
                                <a href="/aboutCarlos">Carlos Paz</a>
                            </li>
                            <li>
                                <a href="/aboutRandy">Randy Rodriguez</a>
                            </li>
                            <li>
                                <a href="/aboutKyle">Kyle Houlihan</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </header>
            <form action='/login' method="post">
                <li id="login_elem"><input type="text" name="username" placeholder="Username" size="10"></li>
                <li id="login_elem"><input type="text" name="password" placeholder="Password" size="10"></li>
                <li id="login_elem"><input type="submit" value="Submit" size="10"></li>
            </form>
            <canvas id="canvas"></canvas>
            <script src="./javascripts/app.js"></script>

            <div class="design">
                <ul>

                    <li>D</li>
                    <li>U</li>
                    <li>S</li>
                    <li>T</li>

                </ul>

            </div>
            <div id="martian_landscape">

                <center>
                    <img src="./media/DUST_final_web.jpg" alt="Surface">
                </center>

                <style>
                    #canvas {
                        background-color: #fefefe;

                        -webkit-box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
                        -moz-box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
                        box-shadow: 4px 4px 8px rgba(0,0,0,0.5);

                    }
                </style>

                <a><a/>
                    <p>
                        <font color="white">Mars has dust storms that can cover the entire planet for a whole month, damaging equipment and making travel extremely difficult. Solutions to protecting equipment and moving from place to place need to be developed. The dust is made up primarily of oxidized iron and caustic salts is typical of the soil on Mars. Heavy dust storms occur more frequently in the winter than the summer. These Martian dust storms are the biggest in the solar system, so intense that they can cover the entire planet. This massive blanket of dust, sometimes lasting as long as 30 days or more are so large, they can even be witnessed with by telescope on Earth.</font>
                    </p>

                    <center>
                        <img src="../media/Dust_storm_1.jpg" alt="Surface" style="width:520px; height:680px;" border="15px">
                    </center>

                    <center>
                        <p>
                            <font style="color: white; font-size: 30px;">"Pic of dust storm from Earth"</font>
                        </p>
                    </center>

                    <p>
                        <font color="white">This creates a problem for human survival. Since solar panels are used to generate energy, these dust storms would significantly reduce the amount of energy and therefore light, water and oxygen and instead of producing these life-giving elements, they would be consumed – oxygen and clean water from storage tanks, while dirty water will wait to be recycled until energy is restored. In fact, as these storms continue, lighting in greenhouses would be virtually eliminated, and many other systems would grind to a halt or, at the very least, usage would be extremely limited in an attempt to conserve power. Missions would become less frequent and extra vehicular activity (EVA) would be limited to emergencies.</font>
                    </p>

                    <p>
                        <font color="white">In addition, the particles of dust involved in these storms are electrostatic and so, adhere to each other and to the surfaces they cover creating a sticky mess of dust covering everything that it encounters. Luckily, NASA has developed the capability of utilizing labyrinth seals to protect gears hydraulics and other moving parts of equipment so that these particles are less likely to “gum up the works” but it is still an issue that needs to be dealt with. Scientists and engineers have also made the equipment for Mars of the toughest metals, and glass is made of high-grade polymer, so they won’t be damaged in the dust storms. When the two rovers that are already on Mars encountered a dust storm, they had to power down and, in essence, go into survival mode until the storm was over.</font>
                    </p>

                    <center>
                        <img src="./media/Solar_2_Large.jpg" alt="Surface" style="width:1200px" border="15px">
                    </center>

                    <center>
                        <p>
                            <font style="color: white; font-size: 30px;">"Pic of dust electrostatically covering equipment including solar panels"</font>
                        </p>
                    </center>

                    <p>
                        <font color="white">The iron and salt laden red dust on Mars and in its atmosphere could also create another problem for astronauts and their equipment. The salty soil and perchlorates could erode equipment and may also injure the thyroid, trigger allergies, burn skin and cause cancer.</font>
                    </p>

                    <br/>

                </div>
                <article>
                    <section id="welcome"></section>
                </article>
                <article>
                    <footer>&copy; 2018 Mars Exploration Agency, LLC</footer>

                </article>
            </main>

        </body>
        <script type="text/javascript" src="./javascripts/app_dust.js"></script>
    </html>