<html>
    <head>

    </head>
    <body>
        {% block body %}
            <div id='posts'></div>
            {% for row in rows %}
                <div style="border:1px solid black;">
                    <a href="/displayPosts?id={{row.threadID}}"><h1 style="margin-top: 0px; margin-bottom: 0px;">{{row.subject}}</h1>
                    <h2 style="margin-top: 0px; margin-bottom: 0px;">Posted by {{row.user}}</h2></a>
                </div>
            {% endfor %}
        {% endblock %}
    <body>
</html>