<!--index.html-->
<html>
    <head>
	
	        <title>Freezing Temperatures</title>
        <link rel="stylesheet" type="text/css" href="./css/Stylesheet_Freeze.css">
		<link rel = "stylesheet" type = "text/css" media = " screen"  href = "css.css" />
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Roboto|Russo+One" rel="stylesheet"></head>
    <body>
        <main>
        <header>
                <img src="./media/MEA_logo3.png">
                <ul class="menu cf">
                    <li><a href= "/index">home</a>
                        <ul class = "submenu">
                        </ul>
                    </li>

                    <li><a href= "">Ethics</a>
                        <ul class = "submenu">
                            <li><a href= "/advocates">Advocates</li>
                            <li><a href= "/naysayers">Naysayers</li>
                            <li><a href= "/centrists">Centrists</li>
                        </ul>
                    </li>

                    <li><a href= "/five_dangers">Dangers</a>
                        <ul class = "submenu">
                            <li><a href= "/dust">1.Dust</li>
                            <li><a href= "/freezing">2.Freezing Temperatures</li>
                            <li><a href= "/atmosphere">3.Atmosphere</li>
                            <li><a href= "/pressure">4.Pressure</li>
                            <li><a href= "/radiation">5.Radiation</li>
                        </ul>
                    </li>

                    <li><a href= "">specifications</a>
                        <ul class = "submenu">
                            <li><a href= "">SubMenu Item</li>
                        </ul>
                    </li>

                    <li><a href= "">gallery</a>
                        <ul class = "submenu">
                            <li><a href= "">Image gallery</li>
                        </ul>
                    </li>

                    <li><a href= "/about"> about us</a>
                        <ul class = "submenu">
                            <li><a href= "">Submenu Item</li>
                            <li><a href= "">SubMenu Item</li>
                            <li><a href= "">SubMenu Item</li>
                            <li><a href= "">SubMenu Item</li>
                        </ul>
                    </li>
                </ul>

                <form action='/login' method="post">
                    <li id="login_elem"><input type="text" name="username" placeholder="Username" size="10"></li>
                    <li id="login_elem"><input type="text" name="password" placeholder="Password" size="10"></li>
                    <li id="login_elem"><input type="submit" value="Submit" size="10"></li>
                </form>
            </header>
        
		
		<canvas id = "canvas"></canvas>
		 <script src = "./javascripts/app.js"></script>
		 
		 <div class ="design">
  <ul>
  
  <li>F</li>
  <li>R</li>
  <li>E</li>
  <li>E</li>
  <li>Z</li>
  <li>I</li>
  <li>N</li>
  <li>G</li>


  </ul>

	</div>
		<div id="martian_landscape">

            <center>
                <img src="./media/freeze_temp_final.jpg" alt="Surface">
				</center>
				
			
<style>
    #canvas {
	    background-color: #fefefe;

		-webkit-box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
		-moz-box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
		 box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
		 
		 }
	  </style>
	  
             <a><a/><p><font color = "#FF6600">Living on Mars, scientists believe would be similar to living in the remote science outposts in the Antarctica – with all supplies needing to be shipped in and few escape routes in an emergency.  Since Mars is much farther away from the sun (141 million miles) than Earth (93 million miles), it is also much colder – the temperatures can reach as low as -284F in the winter at the poles, and as high as 86F in the summer at noon at the equator. The average temperature on Mars varies from a high of 70F on a warm summer day to -175 F on a cold winter night, making the type of shelter that can withstand such extremes critical. Because the temperatures fluctuate so wildly, astronauts will have to have suits that can keep them warm in the bitter cold as well as keeping them cool at the higher temperatures.  </font></p>
			 
			 <center>
			<img src="./media/Dust_2_Large.jpg" alt="Surface" style="width:640px; height:500px;" border="15px">
			</center>
			
		 	<center>
			<p><font style = "color:#ff6600; font-size: 30px;">"Pic of remote science outpost in Antarctica"</font></p>
			</center>


			
			
			 <center>
			<img src="./media/Outpost_2_Large.png" alt="Surface" style="width:640px; height:500px;" border="15px">
			</center>
			
			<center>
			<p><font style = "color: #ff6600; font-size: 30px;">"Will living on Mars look like this caption?"</font></p>
			</center>
			 
			 
			 
            <p><font color = "#FF6600">However, because temperatures on the International Space Station also fluctuate a great deal (from -200 degrees Fahrenheit at night to +200 Fahrenheit when exposed to the sun, NASA has already developed space suits and gear with the thermal control ability to manage both excessive heat and cold.</font></p>
			
			 <center>
			<img src="./media/Thermal_1.jpg" alt="Surface" style="width:820px; height:500px;" border="15px">
			</center>
			
			<center>
			<p><font style = "color:#ff6600; font-size: 30px;">"Pic of thermal model"</font></p>
			</center>
			
			
			 <center>
			<img src="./media/Space_outfit.png" alt="Surface" style="width:820px; height:500px;" border="15px">
			</center>
			
			
			<center>
			<p><font style = "color: #ff6600; font-size: 30px;">" Pics of thermal space suits and gear"</font></p>
			</center>
			
			
            <p><font color = "#FF6600">However, to terraform Mars to make it inhabitable for significant populations of humans, scientists would need to work toward warming the planet permanently.  Since the extreme temperatures are caused by Mars’ thin atmosphere which is only 1% of Earth’s, some suggestions to thicken the atmosphere have included importing the carbons that cause global warming on Earth to Mars until it is warm enough to sustain life – both plants and animals – that is common on Earth.  All suggestions to date, however would take many centuries, perhaps millions of years. </font></p>
			
			
            <p><font color = "#FF6600">Because Mar’s low temperature operates with the planet’s thin atmosphere, it makes water feasible in only two forms – gaseous vapor and solid ice. Any means of transporting liquid-water to the surface of Mars would instantaneously boil or freeze the water. Scientists have speculated that liquid-water which shaped the Mars gullies most likely boiled in an explosive manner after it erupted from beneath the surface.</font></p>
			
            <p><font color = "#FF6600">There is also ice on Mars, but it is not made of water as it is here on Earth, but rather of carbon dioxide instead.  We can see from radar pictures that the layered polar deposits grow during the winter and shrink during the summer.Like tree rings here on Earth, there are thick layers of ice separated by fine layers of ice and dust represent millions of years of climate change.</font>
			
			</p>
		
		
		
	    </br>
        </div>
        <article>
            <section id="welcome">
            </section>
        </article>
        <article>
        </article>
        <footer>&copy; 2018 Mars Exploration Agency, LLC</footer>
        </main>
	
    </body>
		<script type= "text/javascript" src = "./javascripts/app_freeze.js"></script>
</html>
