<!--index.html-->
<html>
    <head>
	
	        <title>Home</title>
        <link rel="stylesheet" type="text/css" href="./css/Stylesheet_Radiation.css">
		<link rel = "stylesheet" type = "text/css" media = " screen"  href = "css.css" />
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Roboto|Russo+One" rel="stylesheet"></head>
    <body>
        <main>
        <header>
                <img src="./media/MEA_logo3.png">
                <ul class="menu cf">
                    <li><a href= "/index">home</a>
                        <ul class = "submenu">
                        </ul>
                    </li>

                    <li><a href= "">Ethics</a>
                        <ul class = "submenu">
                            <li><a href= "/advocates">Advocates</li>
                            <li><a href= "/naysayers">Naysayers</li>
                            <li><a href= "/centrists">Centrists</li>
                        </ul>
                    </li>

                    <li><a href= "/five_dangers">Dangers</a>
                        <ul class = "submenu">
                            <li><a href= "/dust">1.Dust</li>
                            <li><a href= "/freezing">2.Freezing Temperatures</li>
                            <li><a href= "/atmosphere">3.Atmosphere</li>
                            <li><a href= "/pressure">4.Pressure</li>
                            <li><a href= "/radiation">5.Radiation</li>
                        </ul>
                    </li>

                    <li><a href= "">specifications</a>
                        <ul class = "submenu">
                            <li><a href= "">SubMenu Item</li>
                        </ul>
                    </li>

                    <li><a href= "">gallery</a>
                        <ul class = "submenu">
                            <li><a href= "">Image gallery</li>
                        </ul>
                    </li>

                    <li><a href= "/about"> about us</a>
                        <ul class = "submenu">
                            <li><a href= "">Submenu Item</li>
                            <li><a href= "">SubMenu Item</li>
                            <li><a href= "">SubMenu Item</li>
                            <li><a href= "">SubMenu Item</li>
                        </ul>
                    </li>
                </ul>

                <form action='/login' method="post">
                    <li id="login_elem"><input type="text" name="username" placeholder="Username" size="10"></li>
                    <li id="login_elem"><input type="text" name="password" placeholder="Password" size="10"></li>
                    <li id="login_elem"><input type="submit" value="Submit" size="10"></li>
                </form>
            </header>
        
		
		<canvas id = "canvas"></canvas>
		 <script src = "./javascript/app.js"></script>
		 
		 <div class ="design">
  <ul>
  
  <li>R</li>
  <li>A</li>
  <li>D</li>
  <li>I</li>
  <li>A</li>
  <li>T</li>
  <li>I</li>
  <li>O</li>
  <li>N</li>

  </ul>

	</div>
		<div id="martian_landscape">

            <center>
                <img src="./media/RAD_final_web.jpg" alt="Surface">
				</center>
				
			
<style>
    #canvas {
	    background-color: #fefefe;

		-webkit-box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
		-moz-box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
		 box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
		 
		 }
	  </style>
	  
           <a><a/><p><font color = "#ff0000">One of the most challenging elements of colonizing Mars is the danger of radiation. Both the attempt to reach the surface of Mars and the surface of Mars itself would expose explorers to extremely high levels of radiation from which they would need to be continually protected to avoid diseases such as cancer.  There are two primary sources of radiation – the sun and galactic cosmic rays. Space vehicles and suits can protect astronauts from the first source. However, protons from galactic cosmic rays have more energy and can pierce both the suits and metals such as spacecraft or habitats or other vehicles.</font></p>
			  
			  
			  
            <p><font color = "#ff0000">NASA has already begun to develop a human mission to Mars which they are planning to launch by the early 2030’s. This would entail landing astronauts on Martian soil – and supporting them by providing all the means of survival while they are there.  Because of significant radiation, however, technology will need to be developed to provide shielded housing for the astronauts. But not just for astronauts.  Equipment must also be shielded.  Scientists have already begun to explore the idea of building radiation storm shelters and also building force fields to create a safe bubble around spacecraft and habitats.</font></p>
			
			<center>
			<img src="./media/Shield_1.jpg" alt="Surface" style="width:450px; height:600px;" border="15px">
			</center>
			
			
			<center>
			<p><font style = "color:#ff0000; font-size: 30px;">" Pic of giant magnetic shield, radiation storm shelter"</font></p>
			</center>
			
			<br>
			</br>
	
			<center>
			<img src="./media/Rad_1.jpg" alt="Surface" style="width:450px; height:600px;" border="15px">
			</center>
			
			<center>
			<p><font style = "color:#ff0000; font-size: 30px;">" Force field building bubble around spacecraft and equipment"</font></p>
			</center>
			
			
			
            <p><font color = "#ff0000">Every aspect of the journey and inhabitation of Mars would need to be shielded from the ever-present danger.  In fact, the trip to Mars is far more dangerous regarding radiation than life on the planet would be. The trip itself would expose astronauts to six months of a radiation shower. The average dose of radiation for this journey would equal 24 CAT scans, 15 times the annual radiation limit for nuclear power plant workers. Even on Mars itself, while radiation exposure would be reduced, it would vary widely weekly, monthly, and seasonally.</font></p>
			
            <p><font color = "#ff0000">In addition, bio-medical advances will be necessary to deal with any radiation the astronauts might experience. The dangers are serious – changes to their DNA, cataracts, changes to the brain and nervous system, cancer and radiation sickness which can lead to death.  In addition to protecting astronauts, scientists are thinking through the possibility of developing a medication that would counteract exposure to radiation – something that would make the trip to Mars and living on Mars less dangerous.</font></p>
			
			
            <p><font color = "#ff0000">There are also some ideas that border on science fiction but may not be beyond the realm of possibility.  One of these is to create and launch a giant magnetic shield to protect Mars from excess radiation from solar winds, making water flow on Mars’ surface and making Mars far more habitable.  A second idea is to change the human genome, a 500-year project suggested by Christopher Mason, so that injury to genes caused by radiation could be constantly repaired. A third possibility is to land on Phobos, Mars’ largest moon, to collect water lurking just below the surface and use that water to fill the elastic cells in the spacecraft which would also shield astronauts from radiation.</font></p>
			
			<br>
			</br>
			
			
			
			<center>
			<img src="./media/Drill_small.png" alt="Surface" style="width:1200px" border="15px">
			</center>
			
			<center>
			<p><font style = "color:#ff0000; font-size: 30px;">" Pics of landing on Phobos and collecting water"</font></p>
			</center>
			
			
			<br>
			</br>
			
			
            <p><font color = "#ff0000">Regardless, the use of AstroRad vests developed by NASA and a solar storm shelter developed by Elon Musk are realistic short-term solutions.</font></p>

            <p><font color = "#ff0000">Lead – thick and heavy – between a human being at the atmosphere on Mars have been shown to provide significant shielding from most radiation coming from space.</font></p>

            <br />
	  
        </div>
        <article>
            <section id="welcome">
            </section>
        </article>
        <article>
        </article>
        <footer>&copy; 2018 Mars Exploration Agency, LLC</footer>
        </main>
	
    </body>
	<script type= "text/javascript" src = "./javascripts/app_radiation.js"></script>
</html>
