<!--index.html-->
<html>
    <head>

        <title>Profile</title>
        <link rel="stylesheet" type="text/css" href="./css/stylesheet.css">
        <link rel="stylesheet" type="text/css" media=" screen" href="css.css"/>

        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Roboto|Russo+One" rel="stylesheet"></head>
    <body>
        <main>
            <header>
                <img src="./media/MEA_logo3.png">
                <ul class="menu cf">
                    <li>
                        <a href="/index">home</a>
                        <ul class="submenu"></ul>
                    </li>

                    <li>
                        <a href="">Ethics</a>
                        <ul class="submenu">
                            <li>
                                <a href="/advocates">Advocates</a>
                            </li>
                            <li>
                                <a href="/naysayers">Naysayers</a>
                            </li>
                            <li>
                                <a href="/centrists">Centrists</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="/five_dangers">Dangers</a>
                        <ul class="submenu">
                            <li>
                                <a href="/dust">1.Dust</a>
                            </li>
                            <li>
                                <a href="/freezing">2.Freezing Temperatures</a>
                            </li>
                            <li>
                                <a href="/atmosphere">3.Atmosphere</a>
                            </li>
                            <li>
                                <a href="/pressure">4.Pressure</a>
                            </li>
                            <li>
                                <a href="/radiation">5.Radiation</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="/registration">Registration</a>
                        <ul class="submenu"></ul>
                    </li>

                    <li>
                        <a href="/displayForums">forums</a>
                        <ul class="submenu"></ul>
                    </li>

                    <li>
                        <a href="">about us</a>
                        <ul class="submenu">
                            <li>
                                <a href="/aboutDevyn">Devyn Hedin</a>
                            </li>
                            <li>
                                <a href="/aboutCarlos">Carlos Paz</a>
                            </li>
                            <li>
                                <a href="/aboutRandy">Randy Rodriguez</a>
                            </li>
                            <li>
                                <a href="/aboutKyle">Kyle Houlihan</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </header>
            <form action='/login' method="post">
                <li id="login_elem"><input type="text" name="username" placeholder="Username" size="10"></li>
                <li id="login_elem"><input type="text" name="password" placeholder="Password" size="10"></li>
                <li id="login_elem"><input type="submit" value="Submit" size="10"></li>
            </form>
            <canvas id="canvas"></canvas>
            <script src="./javascripts/app.js"></script>

            <div id="martian_landscape">
                <center>
                    <img src="../media/surface.jpg" alt="Surface">
                    <div class="container">
                        <div class="row">
                            <div class="column">
                                <div class="card">
                                    <img src="../media/face_randy.jpg" alt="John" style="width:20%">
                                    <div class="container">
                                        <h2>Randy Rodriguez</h2>
                                        <p class="title">Designer</p>
                                        <p>Randy Rodriguez is an Informatics major at ASU. He switched from Computer Systems Engineering after 2 years. He plans to work in logistics after graduating.</p>
                                        <p>RandyRodriguez@asu.edu</p>
                                        <p>
                                            <button class="button">Contact</button>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <br><br>
                            <center>
                                <h3>Contact Us</h3>
                            </center>

                            <center>
                                <p>Please feel free to contact us with any questions, comments, or suggestions!</p>
                            </center>

                            <center>
                                <span id="contact-info">
                                    <b>Phone:</b>
                                    626-512-5475
                                    <br/>
                                    <b>Email:</b>
                                    Randy.Rodriguez@gmail.com
                                    <br/>
                                    <p></p>
                                    Send us a message!
                                    <br/>
                                    <br/>
                                    <form method="Post" action="process.php">

                                        Name:
                                        <input type="text"/>
                                        <p></p>
                                        Email:
                                        <input type="text"/>
                                        <p></p>
                                        Message:
                                        <p></p>
                                        <textarea rows="10" cols="40" name="body"></textarea>
                                        <p></p>
                                        <input type="submit" value="Send" name="submit"/>
                                        <br/>
                                        <br/>
                                    </form>
                                </span>
                            </center>
                        </div>
                        <br><br>

                    </main>
                    <footer>&copy; 2018 Mars Exploration Agency, LLC</footer>
                </body>
                <!-- <div class="box"></div>-->
            </html>