<!--index.html-->
<html>
    <head>
        <title>Specifications</title>
        <link rel="stylesheet" type="text/css" href="./css/stylesheet.css">
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Roboto|Russo+One" rel="stylesheet">
    </head>
    <style>
        /* Used for page specific styling*/
    </style>
    <body>
        <main>
            <header>
                <img src="./media/MEA_logo3.png">
                <ul class="menu cf">
                    <li>
                        <a href="/index">home</a>
                        <ul class="submenu"></ul>
                    </li>

                    <li>
                        <a href="">Ethics</a>
                        <ul class="submenu">
                            <li>
                                <a href="/advocates">Advocates</a>
                            </li>
                            <li>
                                <a href="/naysayers">Naysayers</a>
                            </li>
                            <li>
                                <a href="/centrists">Centrists</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="/five_dangers">Dangers</a>
                        <ul class="submenu">
                            <li>
                                <a href="/dust">1.Dust</a>
                            </li>
                            <li>
                                <a href="/freezing">2.Freezing Temperatures</a>
                            </li>
                            <li>
                                <a href="/atmosphere">3.Atmosphere</a>
                            </li>
                            <li>
                                <a href="/pressure">4.Pressure</a>
                            </li>
                            <li>
                                <a href="/radiation">5.Radiation</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="/registration">Registration</a>
                        <ul class="submenu"></ul>
                    </li>

                    <li>
                        <a href="/displayForums">forums</a>
                        <ul class="submenu"></ul>
                    </li>

                    <li>
                        <a href="">about us</a>
                        <ul class="submenu">
                            <li>
                                <a href="/aboutDevyn">Devyn Hedin</a>
                            </li>
                            <li>
                                <a href="/aboutCarlos">Carlos Paz</a>
                            </li>
                            <li>
                                <a href="/aboutRandy">Randy Rodriguez</a>
                            </li>
                            <li>
                                <a href="/aboutKyle">Kyle Houlihan</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </header>
            <form action='/login' method="post">
                <li id="login_elem"><input type="text" name="username" placeholder="Username" size="10"></li>
                <li id="login_elem"><input type="text" name="password" placeholder="Password" size="10"></li>
                <li id="login_elem"><input type="submit" value="Submit" size="10"></li>
            </form>
            <div id="martian_landscape">
                <center>
                    <img src="./media/surface.jpg" alt="Surface">
                    <h1>Specifications</h1>
                </center>
                <p>The purpose of this project is to encourage the lay public to share their own creative input on how Mars could be made habitable. Our site will focus on solutions to the five ways Mars can kill you (see above). Included in this site will be a visual gallery of illustrations/ 3D models reinforced by research, part of which will come from relevant departments here at Arizona State University.</p>
                <br/>
                <p>We are preparing to launch a Wiki website. Wiki’s are websites that allow collaborative contributions and editing of its content by users. According to James Surowiecki, author of The Wisdom of Crowds, large groups are often better than small groups of experts, no matter how brilliant, when solving problems, developing alternatives and making decisions. We have therefore decided that a Wiki would be an innovative contribution to the issues we will be confronting on survival on Mars.
                </p>
                <br/>
                <center>
                    <h2>Deliverables</h2>
                </center>
                <br/>
                <p>Tackling the solutions to the five ways Mars can kill you this will spark several deliverables which include:</p>
                <br/>
                <ol style="font-family: " roboto", sans-serif"="Roboto" ,="," sans-serif""="sans-serif" "">
                    <li>Accurate information to the public (Mars research) which will serve as a baseline for the creative thinking of those who access the website.</li>
                    <li>Another opportunity to demonstrate “The Wisdom of Crowds”.</li>
                    <li>An opportunity for lay persons to create potential solutions on how to protect yourself on Mars.</li>
                    <li>An opportunity for these solutions to be critiqued by others who participate in the Wiki.</li>
                    <li>Illustrations and 3D models that would spark creativity and further development from Wiki participants.</li>
                    <li>A platform for the development of a Mars Survival and Exploration game that could become marketable.</li>
                </ol>
                <br/>
                <center>
                    <h2>Database Design</h2>
                </center>
                <br/>
                <p>Since our main concern is correcting/sharing across the web, we will be collecting names and information within our database design. The database design will be geared towards keeping track of our users.</p>
                <br/>
                <center>
                    <h2>Use-Case Analysis</h2>
                </center>
                <br/>
                <p>For the use-case analysis, our goal is to make a wiki that is highly functional for the user. The behavior of the site will contain multiple features – a dropdown menu, several links, information neatly arranged, etc. As a group, we will try to ensure the website is running smoothly. This would mean free from any lags or long load time –so the user is comfortable with our site. The usability for the site will be appropriate for input for large number of people.</p>
                <br/>
            </div>
            <article>
                <section id="welcome"></section>
            </article>
            <article></article>
            <footer>&copy; 2018 Mars Exploration Agency, LLC</footer>
        </main>
    </body>
</html>